/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
div,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(./fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url(./fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: 'TTLakes-Light';
  src: url(./fonts/TTLakes-Light.ttf);
}

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(./fonts/TTLakes-Regular.ttf);
}

body {
background-color: #F8F8F8;
}

.brandpage__header {
    background-color: #FFFFFF;
    width: 100%;
    font-family: 'TTLakes-Regular';
    color: #7E7E82;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
}

.header_title {
    font-family: 'TTLakes-Regular';
    font-size: 16px;
    padding: 15px;
    border-top: 1px solid #D9FFF5;
}

.container__brandpage{
  display: none;
}

.slide_button {
  border: 1px solid #EAEAEA;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 0;
  cursor: pointer;
}

.slide_button:hover {
  background-color: #B5B6BC;
}

.button_go-over {
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 16px 16px 16px 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px solid #FF3E79;
}

.waste-of-time-drawing-icons-with-elements {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-top: 2px solid #FF3E79;
  border-right: 2px solid #FF3E79;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-left: 13px;
  margin-top: 14px;
}

.button-brand_lenovo { 
  margin-left: 16px;
}

.button-brand_samsung { 
  margin-left: 16px;
}

.button-brand_apple { 
  margin-left: 16px;
}

.button-brand_acer { 
  margin-left: 16px;
}

.button-brand_bosch { 
  margin-left: 16px;
}

.button-brand_sony { 
  margin-left: 16px;
}

.button-brand_viewsonic { 
  margin-left: 16px;
}

.button-brand_hp { 
  margin-left: 16px;
}

.swiper {
  width: 100%;
  height: 112px;
  margin-top:16px;
}

.swiper-slide {
padding-bottom: 60px;
padding-left: 16px;
padding-right: 16px;
}

.slide_button--pc {
  display: none;
}

.logo {
  margin-left: 16px;
  object-fit: cover;
}

.tap-next {
  margin: 16px 16px 16px 0px;
}

.swiper-pagination-bullet-active{
background-color: #B5B6BC !important;
}

.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background-color: #DDDDDD !important;
}

.swiper_button-showmore {
  display: none;
  margin-top: 24px;
  margin-left: 34px;
  border: 0px;
  background-color: #F8F8F8;
  position: relative;
}

#more {
  display: none;
  width: 100%;
}


.container__brandpage:not(.container__brandpage--shrink) + .swiper_button-showmore .swiper_show-more-less::before {
  transform: rotate(180deg);
}

@media (min-width: 768px) {

  .header_title {
    padding-top: 15px;
    padding-left: 24px;
}

  .swiper {
    display: none;
  }

  .slide_button {
    flex-basis: 224px;
    margin-bottom: 16px;
    margin-right: 12px;
    margin-left: 12px;
    cursor: pointer;
  }

  .container__brandpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
  }

  .slide_button--pc {
    display: none;
  }

  .container__brandpage--shrink .slide_button:nth-child(n+7) {
    display: none;
 }

  .swiper_button-showmore {
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    padding: 0;
  }

  .swiper_show-more-less {
    margin-left: 17px;
    font-family: 'TTLakes-Medium';
    font-size: 16px;
  }

  .swiper_show-more-less::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 11px;
    background-image: url("images/icon.svg");
    background-size: 8px 11px;
    top: 20%;
    left: 0px;
  }


}

@media (min-width: 1120px) {

  .header_title {
    padding-left: 32px;
  }

  .slide_button {
    flex-basis: 240px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
  }

  .slide_button--pc {
    display: flex !important;
  }

  .container__brandpage {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container__brandpage--shrink .slide_button:nth-child(n+9) {
    display: none;
 }


}